<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TwistAndTurn</title>
    <link
      rel="shortcut icon"
      href="./assets/logo/TwistAndTurn-logos.jpeg"
      type="image/png"
    />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/content.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <header>
      <a href="#"
        ><img
          src="../assets/logo/TwistAndTurn-logos_transparent.png"
          alt="TwistAndTurn"
      /></a>
      <nav>
        <a href="#" class="hamburger-menu" onclick="showMenu()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <ul class="nav-items">
          <li id="close-icon">
            <img src="../assets/icon/close.png" alt="close" />
          </li>
          <li><a href="#">Home</a></li>
          <li><a href="#">History</a></li>
          <li class="dropDown">
            <a href="#" class="linkDropDown" onclick="toggleDropDown()"
              >Tutorials
              <img
                class="dropdown-icon"
                alt="logo"
                src="../assets/icon/down-arrow.png"
                style="padding: 2px"
                width="17px"
                height="17px"
            /></a>
            <ul class="dropDown-items">
              <li><a href="#">3 x 3 😁</a></li>
              <li><a href="#">4 x 4 😃</a></li>
              <li><a href="#">5 x 5 🙂</a></li>
            </ul>
          </li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="hero-section">
        <article></article>
        <aside></aside>
      </div>
      <div id="content">
        <article></article>
        <article></article>
      </div>
    </main>
    <footer></footer>

    <script src="../javascript/script.js"></script>
  </body>
</html>
